.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


// Wide 'n' full width

.alignwide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.alignfull {
    width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

/* Recent posts section */
.home-blog {
    margin-top: 50px;
    padding: 20px;
    background: #f7f7f7;
}

.home-blog h2 {
    text-align: center;
    margin-bottom: 30px;
}

.recent-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recent-post {
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 10px;
    transition: transform 0.3s;
    text-align: center;
    padding: 20px;
}

.recent-post:hover {
    transform: translateY(-5px);
}

.post-thumbnail {
    margin-bottom: 15px;
}

.post-title {
    font-size: 1.25em;
    margin: 0;
    color: #333;
}

.all-news-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: #0073aa;
    font-weight: bold;
}

.all-news-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .recent-post {
        flex: 1 1 100%;
    }
}