.site-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #000000;
    padding: 2rem 0;
    border-top: 3px solid #305c9f;
    position:fixed;
    z-index: 1000;
    top: 0;
    .site-title {
        font-size: 1.3em;
        text-transform: uppercase;
        margin: 0 1rem ;
            a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            background-color: transparent;
            font-weight: 700;
        }

    }
}

@media screen and (min-width: 37.5em) {
    .site-navigation{
        #primary-menu{
            position:fixed;
            top: 0;
        }
    }
}