.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
    top: 52px;
    right: 0;
    z-index: 1000;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				color: #ffffff;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: #305c9f;
		}
	}

	a {
		padding: 1rem;
		display: block;
		font-size: 0.9em;
		text-decoration: none;
		text-align: center;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		background-color: #003c71;
		width: ;
		a:visited {
			color: #003c71;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: #ffffff;
    position: absolute;
    right: 1rem;
    z-index: 1100;
    top: -3rem;
    border: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
