.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			background-color: #305c9f;
		}
	}

	a {
		padding: 1rem;
		display: block;
		font-size: 0.9em;
		text-decoration: none;
		text-align: center;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		background-color: #000000;
		width: 100%;
		a:visited {
			color: #003c71;
		}
	}
}

.main-navigation li.current-menu-item > a, .main-navigation li.current_page_item > a, .main-navigation li:hover > a, .main-navigation li.focus > a {
    background-color: #305c9f;
}

/* Small menu. */
.menu-toggle {
	position: fixed;
	top: 0.875rem;
	right: 1rem;
	background-color: transparent;
	border: none;
	fill: white;
}
.main-navigation.toggled ul {
	display: block;
    margin: 0;
    padding: 0;
	margin-top: 4rem;
    font-size: 0.9em;
    color: #ffffff;
    border: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: flex-end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
